
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container {
    display: flex;
  }
  .relative {
    position: relative;
    z-index: 1;
  }
  .square {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
  }
  .square:after {
    content: '';
    top: 0;
    display: block;
    padding-bottom: 100%;
  }
  .square > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .surroundCover {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  }
  .barcodeContainer {
    width: 80%;
    height: 100%;
    max-width: min(500px, 80vh);
    margin: auto;
  }
  .outer {
    display: flex;
    border-radius: 1em;
  }
  .inner {
    width: 100%;
    margin: 1rem;
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 0.5),
      inset 0px 0px 2px 1px rgb(0 0 0 / 0.5);
    border-radius: 1rem;
  }
